body {
    /* Remove margins and padding around content */
    margin: 0;
    padding: 0;
    /* Fix background during scrolling */
    background-attachment: fixed;
    /* Use scalable background image (cross borwser) */
    background-image: url("../images/bookshelf.jpg");
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #003A6C;
  }

  .jumbotron {
    /* Controling the size of a jumbotron */
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: antiquewhite;
  }

  .solidBg {
    opacity: 1;
    background-color: antiquewhite;
  }
  
  .transparentBg {
    /* Transparent background */
    opacity: 0.9;
  }

  .navButton {
    margin: 0px 10px 0px 0px;
  }